.gradle
/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Visual Studio Code ###
.vscode/
*.code-workspace

### NodeJS ###
node_modules/
dumps/
out-tsc/
dist/
www/

### Cordova ###
build.json
keystore/
platforms/
plugins/android.json
plugins/browser.json
plugins/ios.json
*.apk
*.keystore

*.log
.DS_Store
configuration_local.yaml
